@charset "UTF-8";
.subVisual {
  background-color: #eefbff;
}

.subVisual .container {
  height: 700px;
  position: relative;
}

.contentsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}

.contentsBox .subTitleBox .subTitle {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.contentsBox .subTitleBox p {
  color: #333;
  line-height: 1.8;
}

.contentsBox .imgBox {
  width: 740px;
  height: 500px;
  position: relative;
}

.contentsBox .imgBox img {
  position: absolute;
}

#lnb {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

#lnb .depth02 {
  display: flex;
}

#lnb .depth02 li {
  flex-basis: 25%;
  border: 1px solid #ccc;
}

#lnb .depth02 li:not(:first-child) {
  border-left: none;
}

#lnb .depth02 li.active {
  color: #fff;
  border-color: #0f91d0;
  background-color: #0f91d0;
}

#lnb .depth02 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

#lnb .depth03 {
  display: none;
}

#subVisual01 .contentsBox .imgBox img:nth-child(1) {
  left: 200px;
}

#subVisual01 .contentsBox .imgBox img:nth-child(2) {
  top: 120px;
  left: 0;
}

#subVisual01 .contentsBox .imgBox img:nth-child(3) {
  top: 250px;
  left: 60px;
}

#subVisual01 .contentsBox .imgBox img:nth-child(4) {
  left: 200px;
}

.breadCrumb .container {
  display: flex;
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.breadCrumb .container a:after {
  width: 1px;
  height: 10px;
  transform: translateX(20px);
  content: "";
  background-color: #ccc;
}

.breadCrumb .container .home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-indent: -999px;
}

.breadCrumb .container .home:before {
  font-size: 24px;
  text-indent: 0;
  display: inline-block;
  margin-left: 0;
  font-family: "Material Icons Outlined";
  content: "î¢Š";
}

.breadCrumb .container .lnb01 {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

.breadCrumb .container .lnb02:hover .depth02 {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.breadCrumb .container .lnb02 button {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  background: none;
}

.breadCrumb .container .lnb02 .depth02 {
  width: 150px;
  position: absolute;
  padding: 15px;
  border: 1px solid #ccc;
  transform: translateY(50px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.25s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
  pointer-events: none;
}

.breadCrumb .container .lnb02 .depth02 a {
  display: block;
  padding: 5px 0;
}

.breadCrumb .container .lnb02 .depth02 .depth03 {
  display: none;
}

.form {
  font-size: 18px;
}

.form .inner dl {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.form .inner dl dt {
  width: 180px;
  padding: 20px;
  padding: 15px 35px 15px 15px;
}

.form .inner dl dd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 35px 15px 15px;
  color: #777;
}

.form .inner .required:after {
  color: #0f91d0;
  content: "*";
}

.form .inner .label {
  margin-right: 20px;
}

.form .inner .label input[type="radio"],
.form .inner .label input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 10px 0;
  margin-right: 10px;
  vertical-align: middle;
}

.form .inner input {
  width: 500px;
  height: 50px;
  padding: 0 20px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-style: none;
  background-color: #fff;
  border-radius: 5px;
}

.form .inner .inCharge input {
  width: 225px;
  height: 50px;
  margin-right: 10px;
  border-color: #ccc;
}

.form .inner select {
  width: 225px;
  height: 50px;
  margin-right: 10px;
  padding: 0 20px;
  font-size: 15px;
  border-color: #ccc;
  background-color: #fff;
  border-radius: 5px;
}

.form .inner .requireContents {
  align-items: flex-start;
  flex-direction: column;
  padding-top: 15px;
}

.form .inner .requireContents textarea {
  width: 1000px;
  padding: 10px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #777;
  line-height: 1.5;
  border-color: #ccc;
  background-color: #fff;
  border-radius: 5px;
}

.agreement {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 18px;
  color: #777;
}

.agreement input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: -3px 8px 0 0;
  vertical-align: middle;
}

.agreement a {
  margin-left: 10px;
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.submit {
  padding-bottom: 100px;
}

.submit .btn {
  padding: 30px 30px;
  font-size: 18px;
  color: #fff;
  border: 1px solid #0f91d0;
  transition: all 0.25s ease-in-out;
  background-color: #0f91d0;
}

.submit .btn:after {
  margin-left: 100px;
  font-family: "Material Icons";
  font-size: 20px;
  content: "\e5c8";
}

.submit .btn:hover {
  color: #0f91d0;
  background-color: #fff;
}
