body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  min-height: 2000px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 99;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

#header.on {
  height: 400px;
  background: #fff;
}

#header:after {
  top: 100px;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

#header .container {
  display: flex;
}

#header .container .customer {
  margin-left: auto;
}

#header .container .customer .depth01 {
  display: flex;
  align-items: center;
  height: 100px;
}

#header .container .customer .depth01 a {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #000;
  transition: all 0.25s ease-in-out;
  border-radius: 100px;
}

#header .container .customer .depth01 a:hover {
  color: #fff;
  border-color: #0f91d0;
  background-color: #0f91d0;
}

#header .container .customer .depth01 a:before {
  margin-right: 10px;
  font-family: "Material Icons";
  font-size: 24px;
  content: "\f0e2";
  vertical-align: middle;
}

#header .container .customer .depth02 {
  padding-top: 30px;
  text-align: center;
}

#header .container .customer .depth02 a:after {
  padding-left: 5px;
  font-family: "Material Icons";
  content: "\e895";
}

#logo a {
  display: flex;
  align-items: center;
  height: 100px;
}

#gnb {
  margin-left: 100px;
}

#gnb .list {
  display: flex;
}

#gnb .list > li:hover .depth01 {
  color: #0f91d0;
}

#gnb .list > li:hover .depth01:after {
  transform: scaleX(1);
}

#gnb .list > li .depth01 {
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.25s ease-in-out;
}

#gnb .list > li .depth01:after {
  height: 2px;
  right: 30px;
  bottom: 0;
  left: 30px;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  background-color: #0f91d0;
  display: block;
  position: absolute;
  content: "";
}

#gnb .list > li .depth02 {
  padding-top: 30px;
  padding-left: 30px;
}

#gnb .list > li .depth02 > li a {
  display: block;
  padding: 5px 0;
}

#gnb .list > li .depth03 {
  padding: 10px 0;
  font-size: 14px;
  color: #666;
}

#gnb .list > li .depth03 li a {
  display: block;
  position: relative;
  padding: 5px 0 5px 10px;
}

#gnb .list > li .depth03 li a:before {
  left: 0;
  border-radius: 4px;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #666;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
