@import "vars";
@import "mixin";
// html {
//   font-size: 10px;
// }
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: $font-normal;
  min-height: 2000px;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
#header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 99;
  overflow: hidden;
  // background: #fff;
  transition: all 0.5s ease-in-out;
  &.on {
    height: 400px;
    background: #fff;
  }
  &:after {
    top: 100px;
    @include pseudo;
    @include box(100%, 1px, #ccc);
  }
  .container {
    display: flex;
    .customer {
      margin-left: auto;
      .depth01 {
        display: flex;
        align-items: center;
        height: 100px;
        a {
          padding: 15px 30px;
          font-size: 18px;
          font-weight: 500;
          border: 1px solid #000;
          transition: all 0.25s ease-in-out;
          border-radius: 100px;
          &:hover {
            color: #fff;
            border-color: $main-color;
            background-color: $main-color;
          }
          &:before {
            margin-right: 10px;
            font-family: "Material Icons";
            font-size: 24px;
            content: "\f0e2";
            vertical-align: middle;
          }
        }
      }
      .depth02 {
        padding-top: 30px;
        text-align: center;
        a {
          &:after {
            padding-left: 5px;
            font-family: "Material Icons";
            content: "\e895";
          }
        }
      }
    }
  }
}
#logo {
  a {
    display: flex;
    align-items: center;
    height: 100px;
  }
}
#gnb {
  margin-left: 100px;
  .list {
    display: flex;
    > li {
      &:hover {
        .depth01 {
          color: $main-color;
          &:after {
            transform: scaleX(1);
          }
        }
      }
      .depth01 {
        display: flex;
        align-items: center;
        height: 100px;
        position: relative;
        padding: 0 30px;
        font-size: 18px;
        font-weight: 500;
        transition: color 0.25s ease-in-out;
        &:after {
          height: 2px;
          right: 30px;
          bottom: 0;
          left: 30px;
          transform: scaleX(0);
          transition: transform 0.25s ease-in-out;
          background-color: $main-color;
          @include pseudo;
        }
      }
      .depth02 {
        padding-top: 30px;
        padding-left: 30px;
        > li a {
          display: block;
          padding: 5px 0;
        }
      }
      .depth03 {
        padding: 10px 0;
        font-size: 14px;
        color: #666;
        li {
          a {
            display: block;
            position: relative;
            padding: 5px 0 5px 10px;
            &:before {
              left: 0;
              border-radius: 4px;
              @include pseudo;
              @include box(4px, 4px, #666);
              @include absCenter(false, true);
            }
          }
        }
      }
    }
  }
}
